@import url('../css/main.css');

.hero__btn-box {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.hero-sign-up {
    border-radius: 20px;
    background: #1B152B;
    padding: 8px 30px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.96px;
}

.hero-contact {
    padding: 8px 30px;
    border-radius: 20px;
    background: #7F56D9;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.96px;
}

.hero__img {
    margin-top: 2rem;
    width: 80%;
}

.value {
    margin-top: 3rem;
    text-align: center;
}

.value__hero {
    color: var(--primary-purple-normal, #7F56D9);
    font-family: 'Manrope', sans-serif;
    letter-spacing: -0.75px;
    border-radius: 22px;
    border: 1px solid #EEE2FE;
    background: linear-gradient(90deg, #E9D8FF 0%, rgba(255, 255, 255, 0.00) 100%, #29252E 100%);
    display: inline-block;
    padding: 5px 15px;
}

.value__title {
    margin-top: 1rem;
    color: #1B152B;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    letter-spacing: -3.827px;
}

.value__text {
    margin-top: 1rem;
    color: var(--text-grey, #7A7D9C);
    padding-inline: 220px;
    font-family: 'Manrope', sans-serif;
    letter-spacing: -0.75px;
}

.value__wrapper {
    display: flex;
    background-color: white;
    padding: 71px 65px;
    gap: 10px;
    border-radius: 16px;
    border: 1px solid #EFF0F6;
    background: #FFF;
    width: 95%;
    margin-inline: auto;
    margin-top: 2rem;
}

.value__wrapper-top, .value__wrapper-bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
} 

.value__item {
    padding: 20px;
}

.value__item-title {
    color: #1B152B;
    margin-top: 1rem;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.value__item-text {
    color: var(--text-grey, #7A7D9C);
    font-family: 'Manrope', sans-serif;
    letter-spacing: -0.75px;
    margin-top: 1rem;
    padding-inline: 60px;
}

@media (max-width: 50em) {
    .value__wrapper {
        flex-direction: column;
    }

    .value__title {
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.96px;
    }

    .value__text {
        padding-inline: 40px;
    }
}

@media (max-width: 500px) {
    .value__wrapper {
        padding: 10px;
    }

    .value__item-text {
        padding-inline: 0;
    }

    .value__title {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: normal;
    }

    .value__text {
        padding-inline: 8px;
    }

    .value__hero {
        font-size: 12px;
    }
}

.team {
    margin-top: 2rem;
    text-align: center;
}

.team__hero {
    color: var(--primary-purple-normal, #7F56D9);
    font-family: 'Manrope', sans-serif;
    letter-spacing: -0.75px;
    border-radius: 22px;
    border: 1px solid #EEE2FE;
    background: linear-gradient(90deg, #E9D8FF 0%, rgba(255, 255, 255, 0.00) 100%, #29252E 100%);
    display: inline-block;
    padding: 5px 15px;
}

.team__title {
    color: #1B152B;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    letter-spacing: -3.827px;
    margin-top: 1rem;
}

.team__text {
    color: var(--text-grey, #7A7D9C);
    padding-inline: 220px;
    margin-top: 1rem;
    font-family: 'Manrope', sans-serif;
    letter-spacing: -0.75px;
}

.team__wrapper {
    padding: 30px 100px;
    background-color: white;
    border-radius: 16px;
    width: 90%;
    margin-inline: auto;
    margin-top: 2rem;
}

.team__quote {
    color: #7A7D9C;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.96px;
    padding-inline: 100px;
}

.team__name {
    color: var(--primary-purple-normal, #7F56D9);
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    letter-spacing: -0.96px;
    margin-top: 2rem;
}

.team__job {
    margin-top: 1rem;
    color: #7A7D9C;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.96px;
}

.team__socials {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.team__socials svg {
    cursor: pointer;
}

.team__socials svg:hover {
    opacity: 0.5;
}

@media (max-width: 1000px) {
    .team__quote {
        padding-inline: 0px;
    }
}

@media (max-width: 50em) {
    .team__title {
        font-size: 36px;
    }

    .team__text {
        padding-inline: 50px;
    }

    .team__wrapper {
        padding: 30px 10px;
    }
}