@import url('../css/main.css');

.main__head-title {
    color: #1B152B;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 72px;
    letter-spacing: -3.827px;
    padding-inline: 111px;
    margin-top: 15px;
}

.main__head-text {
    color: var(--text-grey, #7A7D9C);
    text-align: center;
    margin-top: 1rem;
    font-family: 'Manrope', sans-serif;
    letter-spacing: -0.75px;
}

.main__head-user {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.main__head-sign-up {
    padding: 8px 30px;
    border-radius: 20px;
    background: #1B152B;
    color: #FFF;
    border: none;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.96px;
}

.main__head-contact {
    padding: 8px 30px;
    border-radius: 20px;
    background: #7F56D9;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    border: none;
    letter-spacing: -0.96px;
}

.main__head-img {
    display: block;
    margin-inline: auto;
    width: 80%;
    margin-top: 2rem;
}

@media (max-width: 50em) {
    .main__head-title {
        font-size: 48px;
        padding-inline: 50px;
    }
}

@media (max-width: 25em) {
    .main__head-title {
        font-size: 24px;
        padding-inline: 8px;
        letter-spacing: normal;
        font-weight: 500;
    }

    .main__head-img {
        width: 95%;
        height: 190px;
        border-radius: 5px
    }
}

.stat {
    width: 85%;
    margin-inline: auto;
    background-color: white;
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    border-radius: 16px;
    border: 1px solid #EFF0F6;
    background: #FFF;
    padding: 16px 48px;
}

.stat__item-num {
    color: #7F56D9;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -3.827px;
}

.stat__item-text {
    color: #7F56D9;
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    letter-spacing: -0.96px;
}

@media (max-width:970px) {
    .stat__item-num {
        font-size: 36px;
        font-weight: 400;
        letter-spacing: -0.96px;
    }

    .stat__item-text {
        font-size: 20px;
    }
}

@media (max-width:46em) {
    .stat {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .item-2 {
        margin-left: -60px;
    }

    .stat__item-num {
        font-size: 20px;
    }

    .stat__item-text {
        font-size: 16px;
    }
}

.features {
    margin-top: 4rem;
    text-align: center;
}

.features__hero {
    color: var(--primary-purple-normal, #7F56D9);
    font-family: 'Manrope', sans-serif;
    letter-spacing: -0.75px;
    border-radius: 22px;
    border: 1px solid #EEE2FE;
    background: linear-gradient(90deg, #E9D8FF 0%, rgba(255, 255, 255, 0.00) 100%, #29252E 100%);
    display: inline-block;
    padding: 5px 15px;
}

.features__title {
    color: #1B152B;
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    letter-spacing: -3.827px;
}

.features__text {
    color: var(--text-grey, #7A7D9C);
    font-family: 'Manrope', sans-serif;
    letter-spacing: -0.75px;
    margin-top: 10px;
}

.features__wrapper {
    margin-top: 15px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin-inline: auto;
    border-radius: 16px;
    border: 1px solid #EFF0F6;
    padding-block: 47px
}

.features__item-title {
    color: #1B152B;
    margin-top: 1rem;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.features__item-text {
    color: var(--text-grey, #7A7D9C);
    margin-top: 10px;
    font-family: 'Manrope', sans-serif;
    letter-spacing: -0.75px;
}

.features__btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 1rem;
}

.features__btn-contact {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    letter-spacing: -0.96px;
    padding: 8px 30px;
    border-radius: 20px;
    background: #7F56D9;
    cursor: pointer;
    border: none
}

.features__btn-all {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 870px) {
    .feature-2 {
        display: none;
    }

    .features__title {
        font-size: 36px;
    }
}

@media (max-width: 620px) {
    .features__wrapper {
        flex-direction: column;
        gap: 1.5rem;
    }

    .feature-2 {
        display: block;
    }

    .features__title {
        font-size: 24px;
        letter-spacing: normal;
    }

    .features__hero {
        font-size: 12px;
        letter-spacing: -0.5px;
    }
}


.service {
    border-radius: 32px;
    border: 1px solid #EFF0F6;
    background: #FFF;
    padding: 36px 20px;
    background-color: white;
    width: 85%;
    margin-inline: auto;
    margin-top: 2rem;
}

.service__hero {
    color: var(--primary-purple-normal, #7F56D9);
    font-family: 'Manrope', sans-serif;
    letter-spacing: -0.75px;
    border-radius: 22px;
    border: 1px solid #EEE2FE;
    background: linear-gradient(90deg, #E9D8FF 0%, rgba(255, 255, 255, 0.00) 100%, #29252E 100%);
    padding: 5px 15px;
    display: inline-block;
}

.service__wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.service__title {
    color: #A05BF8;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    letter-spacing: -0.96px;
}

.service__text {
    color: #7A7D9C;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.96px;
    margin-top: 15px;
}

.service__img {
    border-radius: 32px; 
    width: 50%;  
}

.service__arrows-box {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
    cursor: pointer;
    justify-content: end;
}

@media (max-width: 50em) {
    .service {
        display: none;
    }
}

.test {
    margin-top: 2rem;
    text-align: center;
}

.test__hero {
    color: var(--primary-purple-normal, #7F56D9);
    font-family: 'Manrope', sans-serif;
    letter-spacing: -0.75px;
    border-radius: 22px;
    border: 1px solid #EEE2FE;
    background: linear-gradient(90deg, #E9D8FF 0%, rgba(255, 255, 255, 0.00) 100%, #29252E 100%);
    padding: 5px 15px;
    display: inline;
}

.test__num {
    margin-top: 1rem;
    color: #1B152B;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    letter-spacing: -3.827px;
}

.test__wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: white;
    border-radius: 32px;
    border: 1px solid #EFF0F6;
    padding: 60px 36px;
    margin-top: 1rem;
}

.test__img {
    width: 50%;
}

.test__wrapper-text {
    text-align: left;
    color: #7A7D9C;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.96px;
}

.test__name {
    text-align: left;
    margin-top: 1rem;
    color: #1B152B;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    letter-spacing: -0.96px;
}

.test__job {
    margin-top: 10px;
    text-align: left;
    color: #1B152B;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    letter-spacing: -0.96px;
}

.test__btn-box {
    text-align: right;
    margin-top: 1rem;
}

@media (max-width: 50em) {
    .test__num {
        font-size: 36px;
    }

    .test__wrapper {
        flex-direction: column;
    }

    .test__img {
        width: 95%;
    }
}

@media (max-width: 550px) {
    .test__num {
        font-size: 24px;
        letter-spacing: normal;
    }

    .test__wrapper {
        padding: 8px;
    }
}

.trust {
    margin-top: 2rem;
    text-align: center;
}

.trust__hero {
    color: #7A7D9C;
    font-family: 'Manrope', sans-serif;
    line-height: 150%; 
    margin-bottom: 1rem;
}

.blog {
    margin-top: 3rem;
    text-align: center;
}

.blog__hero {
    color: var(--primary-purple-normal, #7F56D9);
    font-family: 'Manrope', sans-serif;
    letter-spacing: -0.75px;
    border-radius: 22px;
    border: 1px solid #EEE2FE;
    background: linear-gradient(90deg, #E9D8FF 0%, rgba(255, 255, 255, 0.00) 100%, #29252E 100%);
    padding: 5px 15px;
    display: inline;
}

.blog__title {
    color: #1B152B;
    font-family: 'Inter', sans-serif;
    margin-top: 2rem;
    font-size: 48px;
    letter-spacing: -3.827px;
}

.blog__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
    gap: 1rem;
}

.blog__item {
    background-color: white;
    border-radius: 16px;
    border: 1px solid #EFF0F6;
    padding: 20px;
    text-align: left;
}

.blog__category {
    color: var(--primary-purple-normal, #7F56D9);
    font-family: 'Manrope', sans-serif;
    letter-spacing: -0.75px;
    border-radius: 22px;
    border: 1px solid #EEE2FE;
    background: linear-gradient(90deg, #E9D8FF 0%, rgba(255, 255, 255, 0.00) 100%, #29252E 100%);
    padding: 5px 15px;
    display: inline;
}

.blog__item-title {
    margin-top: 1rem;
    color: #272422;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.75px;
}

.blog__item-text {
    color: #8B857F;
    font-family: 'Inter', sans-serif;
    margin-top: 1rem;
    letter-spacing: -0.96px;
}

.blog__link {
    color: #8B857F;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: end;
    letter-spacing: -0.75px;
}

.blog__img {
    width: 95%;
}

.blog__btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.blog__btn-contact {
    padding: 8px 30px;
    border-radius: 20px;
    background: #7F56D9;
    font-family: 'Inter', sans-serif;
    color: white;
    border: none;
    font-weight: 500;
    letter-spacing: -0.96px;
}

.blog__btn-all {
    display: flex;
    align-items: center;
    background: none
}

@media (max-width:1160px) {
    .blog__item--hidden {
        display: none;
    }
}

@media (max-width: 50em) {
    .blog__wrapper {
        flex-direction: column;
    }

    .blog__title {
        letter-spacing: normal;
        font-size: 24px;
    }
}


