*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

button:hover, input {
    opacity: 0.8;
    cursor: pointer;
    border: none
}

a {
    cursor: pointer;
    color: white;
}

button {
    border: none;
}

.container {
    width: min(1280px, 100%);
    margin-inline: auto;
    background-color: #F9FAFB;
    overflow-x: hidden;
}

nav {
    width: 85%;
    display: flex;
    align-items: center;
    border-radius: 47px;
    background: #1B152B;
    margin-inline: auto;
    margin-top: 15px;
    padding: 12px 20px;
    color: white;
    justify-content: space-between;
}

.container__links {
    display: flex;
    gap: 1rem;
}

.container__link {
    font-family: 'Manrope', sans-serif;
    letter-spacing: -0.75px;
    cursor: pointer;
}

.container__nav-contact {
    border-radius: 20px;
    background: #7F56D9;
    padding: 8px 30px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    letter-spacing: -0.96px;
    border: none;
}

.container__nav-contact:hover {
    background: rgb(30,25,122);
    background: linear-gradient(90deg, rgba(30,25,122,1) 0%, rgba(185,54,214,1) 0%, rgba(141,0,255,1) 100%);
}

.container__nav-contact:active {
    background: rgb(30,25,122);
    background: linear-gradient(90deg, rgba(30,25,122,1) 0%, rgba(196,71,224,1) 0%, rgba(94,24,151,1) 100%);
}

.menu {
    display: none;
}

@media (max-width: 745px) {
    .container__links, .container__nav-contact {
        display: none;
    }

    .menu {
        display: block;
    }
}

footer {
    margin-top: 5rem;
    background-color: #7F56D9;
}

.footer__top, .footer__bottom {
    background-color: #7F56D9;
}

.footer__top {
    padding: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__links {
    display: flex;
    gap: 1rem;
}

.footer__link {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Manrope', sans-serif;
    letter-spacing: -0.75px;
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-inline: 50px;
}

.footer__rights {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    letter-spacing: 0.25px;
}

@media (max-width: 50em) {
    .footer__top, .footer__bottom {
        flex-direction: column;
        font-size: 10px;
        gap: 10px;
        padding-inline: 10px;
    }
}

.cool {
    background-image: url(../images/cool-back.png);
    padding: 80px 100px;
    width: 100%;
    margin-inline: auto;
    margin-top: 2rem;
    text-align: center;
    border-radius: 32px;
    /* background-repeat: no-repeat; */
}

.cool__img {
    margin-bottom: 2rem;
}

.cool__title {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    letter-spacing: -3.827px;
}

.cool__text {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    letter-spacing: -0.96px;
    margin-top: 1rem;
}

.cool__wrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.cool__input {
    padding: 15.5px 121px 15.5px 17px;
    border-radius: 12px;
    border: 1px solid #E2E8F1;
    background: #FFF;
    box-shadow: 0px 2px 24px 2px rgba(29, 32, 36, 0.02);
    color: rgba(95, 100, 134, 0.70);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    border: none;
    width: 85%;
    margin-inline: auto;
}

.cool__btn {
    padding: 13px 28.797px 11px 28px;
    border-radius: 10px;
    background: #7F56D9;
    box-shadow: 0px 1px 1px 0px rgba(88, 111, 54, 0.08);
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 700;
}

@media (max-width: 960px) {
    .cool__wrapper {
        flex-direction: column;
    }

    .cool__img {
        margin-bottom: 0.8rem;
    }

    .cool {
        padding: 80px 70px;
    }
}

@media (max-width:500px) {
    .cool__title {
        font-size: 20px;
        letter-spacing: normal;
    }

    .cool__text {
        font-size: 12px;
        letter-spacing: normal;
    }

    .cool {
        padding: 80px 20px;
    }
}

.mission {
    background-color: white;
    padding: 43px 22px;
    width: 85%;
    margin-inline: auto;
    margin-top: 2rem;
    border-radius: 32px;
    border: 1px solid #EFF0F6;
}

.mission__hero {
    color: var(--primary-purple-normal, #7F56D9);
    font-family: 'Manrope', sans-serif;
    letter-spacing: -0.75px;
    border-radius: 22px;
    border: 1px solid #EEE2FE;
    background: linear-gradient(90deg, #E9D8FF 0%, rgba(255, 255, 255, 0.00) 100%, #29252E 100%);
    padding: 5px 15px;
    display: inline-block;
}

.mission__wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.mission__wrapper-title {
    color: #1B152B;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    letter-spacing: -0.96px;
}

.mission__wrapper-text {
    margin-top: 1rem;
    color: #7A7D9C;
    font-family: 'Manrope', sans-serif;
    line-height: 150%; 
}

.mission__wrapper-btn-box {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.mission__wrapper-sign-up {
    color: #7F56D9;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    border: none;
    outline: none;
    background: none;
    letter-spacing: -0.96px;
}

.mission__wrapper-contact-us {
    padding: 8px 30px;
    border-radius: 20px;
    background: #7F56D9;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    border: none;
    font-weight: 500;
    letter-spacing: -0.96px;
}

.mission__img {
    border-radius: 32px;
    width: 50%;
}

@media (max-width: 1045px) {
    .mission__img {
        margin-top: 1rem;
        width: 96%;
    }

    .mission__wrapper {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .mission__wrapper-title {
        font-size: 20px;
    }

    .mission__wrapper-text {
        font-size: 12px;
        letter-spacing: -0.5px;
    }

    .mission__hero {
        font-size: 12px;
    }
}

.client {
    text-align: center;
    margin-top: 2rem;
}

.client__hero {
    color: var(--primary-purple-normal, #7F56D9);
    font-family: 'Manrope', sans-serif;
    letter-spacing: -0.75px;
    border-radius: 22px;
    border: 1px solid #EEE2FE;
    background: linear-gradient(90deg, #E9D8FF 0%, rgba(255, 255, 255, 0.00) 100%, #29252E 100%);
    padding: 5px 15px;
    display: inline-block;
}

.client__title {
    color: #1B152B;
    margin-top: 1rem;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    letter-spacing: -3.827px;
}

.client__text {
    color: var(--text-grey, #7A7D9C);
    font-family: 'Manrope', sans-serif;
    margin-top: 1rem;
    letter-spacing: -0.75px;
}

.client__logos {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

@media (max-width: 900px) {
    .client__logos {
        flex-direction: column;
    }

    .client__title {
        font-size: 36px;
        letter-spacing: -0.96px;
    }
}

@media (max-width: 500px) {
    .client__title {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: normal;
    }

    .client__text {
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.5px;
    }
}

.container__logo {
    cursor: pointer;
}

.office {
    margin-top: 2rem;
    text-align: center;
}

.office__hero {
    color: var(--primary-purple-normal, #7F56D9);
    font-family: 'Manrope', sans-serif;
    letter-spacing: -0.75px;
    border-radius: 22px;
    border: 1px solid #EEE2FE;
    background: linear-gradient(90deg, #E9D8FF 0%, rgba(255, 255, 255, 0.00) 100%, #29252E 100%);
    display: inline-block;
    padding: 5px 15px;
}

.office__title {
    color: #1B152B;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    letter-spacing: -3.827px;
    margin-top: 1rem;
}

.office__text {
    color: var(--text-grey, #7A7D9C);
    padding-inline: 220px;
    margin-top: 1rem;
    font-family: 'Manrope', sans-serif;
    letter-spacing: -0.75px;
}

.office__wrapper {
    margin-top: 1rem;
    background-color: white;
    display: flex;
    border-radius: 16px;
    border: 1px solid #EFF0F6;
    justify-content: space-between;
    padding: 47px 65px;
    width: 99%;
    margin-inline: auto;
    text-align: left;
}

.office__item-city {
    margin-top: 1rem;
    color: var(--primary-purple-normal, #7F56D9);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    letter-spacing: -0.96px;
}

.office__item-location {
    margin-top: 0.5rem;
    color: var(--text-grey, #7A7D9C);
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.96px;
}

.office__item-num {
    color: var(--text-dark-blue, #1B152B);
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.96px;
    margin-top: 0.6rem;
}

.office__btn-box {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

.office__sign-up {
    border-radius: 20px;
    background: #1B152B;
    padding: 8px 30px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.96px;
}

.office__contact-us {
    padding: 8px 30px;
    border-radius: 20px;
    background: #7F56D9;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.96px;
}

.office__item-img {
    width: 90%;
}

@media (max-width: 50em) {
    .office__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .office__item-img {
        width: 90%;
        margin-top: 10px;
    }

    .office__title {
        font-size: 36px;
    }

    .office__text {
        padding-inline: 50px;
    }
}

@media (max-width: 25em) {
    .office__title {
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: normal;
    }

    .office__text {
        padding-inline: 20px;
    }

    .office__item-img {
        width: 120%;
    }
}

.career {
    margin-top: 2rem;
    text-align: center;
}

.career__hero {
    color: var(--primary-purple-normal, #7F56D9);
    font-family: 'Manrope', sans-serif;
    letter-spacing: -0.75px;
    border-radius: 22px;
    border: 1px solid #EEE2FE;
    background: linear-gradient(90deg, #E9D8FF 0%, rgba(255, 255, 255, 0.00) 100%, #29252E 100%);
    display: inline-block;
    padding: 5px 15px;
}

.career__title {
    color: #1B152B;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    letter-spacing: -3.827px;
    margin-top: 1rem;
}

.career__text {
    color: var(--text-grey, #7A7D9C);
    padding-inline: 220px;
    margin-top: 1rem;
    font-family: 'Manrope', sans-serif;
    letter-spacing: -0.75px;
}

.career__wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 2rem;
    gap: 1rem;
}

.career__item {
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 21px;
    width: 90%;
    margin-inline: auto;
    border-radius: 8px;
    align-items: center;
    border: 1px solid #EFF0F6;
}

.career__item-title {
    color: #272422;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.75px;
}

.career__item-desc {
    color: var(--text-grey, #7A7D9C);
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.96px;
    margin-top: 10px;
}

.career__item-desc span {
    color: #9F5AF7;
}

.career__item-text {
    color: var(--text-grey, #7A7D9C);
    font-family: 'Manrope', sans-serif;
    margin-top: 10px;
    letter-spacing: -0.75px;   
}

.career__arrow {
    cursor: pointer;
    width: 5%;
}

.career__arrow:hover {
    opacity: 0.7;
}

@media (max-width: 50em) {
    .career__title {
        font-size: 36px;
    }

    .career__text {
        padding-inline: 50px;
    }

    .career__item {
        font-size: 14px;
    }

    .career__arrow {
        width: 10%;
    }
}

@media (max-width: 25em) {
    .career__title {
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: normal;
    }

    .career__text {
        padding-inline: 20px;
    }
}

.hero {
    margin-top: 2rem;
    text-align: center;
}

.hero__title {
    color: var(--text-dark-blue, #1B152B);
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    letter-spacing: -3.827px;
    padding-inline: 170px;
}

.hero__text {
    margin-top: 1rem;
    color: var(--text-grey, #7A7D9C);
    font-family: 'Manrope', sans-serif;
    line-height: 150%;
    padding-inline: 170px; 
}

@media (max-width: 1000px) {
    .hero__title, .hero__text {
        padding-inline: 60px;
    }
}

@media (max-width: 50em) {
    .hero__title {
        letter-spacing: normal;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .hero__title, .hero__text {
        padding-inline: 10px;
    }
}
