@import url('../css/main.css');

html {
    background-color: #F9FAFB;
}

.container {
    text-align: center;
    margin-top: 1rem;
    overflow-x: hidden;
    user-select: none;
}

.container__title {
    margin-top: 10px;
    color:  #42307D;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.container__text {
    margin-top: 10px;
    color: #667085;
    font-family: 'Inter', sans-serif;
}

.container__form {
    background-color: white;
    padding: 32px 40px;
    display: inline-block;
    margin-top: 10px;
}

.container__form-main-text {
    color: #454C52;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 15px;
}

.container__form-name {
    color: var(--grey-400, #9EA5AD);
    font-family: 'Inter', sans-serif;
    line-height: 24px; 
    padding: 10px 14px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px 1px rgba(103, 110, 118, 0.16), 0px 2px 5px 0px rgba(103, 110, 118, 0.08);
    border: none;
    cursor: pointer;
    margin-top: 5px;
}

.container__password-box {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    gap: 10px;
    color: var(--grey-400, #9EA5AD);
    font-family: 'Inter', sans-serif;
    line-height: 24px; 
    padding: 10px 14px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px 1px rgba(103, 110, 118, 0.16), 0px 2px 5px 0px rgba(103, 110, 118, 0.08);
    border: none;
    cursor: pointer;
}

.container__form-password {
    color: var(--grey-400, #9EA5AD);
    font-family: 'Inter', sans-serif;
    line-height: 24px; 
    padding: 10px 14px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px 1px rgba(103, 110, 118, 0.16), 0px 2px 5px 0px rgba(103, 110, 118, 0.08);
    border: none;
    cursor: pointer;
}

.container__action {
    display: block;
    margin-inline:auto;
    margin-top: 10px;
    padding: 10px 18px;
    color: var(--white, #FFF);
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    font-weight: 500;
    line-height: 24px; 
    border-radius: 8px;
    border: 1px solid var(--primary-600, #7F56D9);
    background: var(--primary-600, #7F56D9);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    width: 20%;
}

.container__action:hover {
    background: rgb(30,25,122);
    background: linear-gradient(90deg, rgba(30,25,122,1) 0%, rgba(143,27,168,1) 0%, rgba(70,32,102,1) 100%);
}

.container__action:active {
    background: rgb(30,25,122);
    background: linear-gradient(90deg, rgba(30,25,122,1) 0%, rgba(185,54,214,1) 0%, rgba(141,0,255,1) 100%);
}

.container__rights {
    margin-top: 15px;
    color: var(--grey-500, #667085);
    font-family: 'Inter', sans-serif;
    line-height: 24px; 
}

@media (max-width: 50em) {
    .container__action {
        width: 40%
    }

    .container__logo {
        width: 290px;
    }
}